
.container {
    margin: 0 auto;
    max-width: 1325px;    
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.input-search {  
     border: 3px solid #f8f8f8;
     border-radius: 20px;
     font-family: Muli-Regular;
     color: #595959;
     font-size: 16px;
     background: url(images/shape.png);
     background-repeat: no-repeat;
     background-position: center left 10px;
     padding-left: 40px;
     height: 40px;
     width: 379px;
     outline: none;
}


nav {
    transform: rotate(-90deg) translate(-19px, -226px);
}

ul {
  display:flex;
  list-style: none;
}

 a {
    text-decoration: none;
    color: #595959;
    margin-right: 20px;
}

.seasonal {
    text-decoration: none;
    color: #FF0000;
}

 .navbar li {
    margin: 0px 28px;
    font-family: 'Muli-Bold';
} 


.content {
    display: flex;
    align-items: center;
}

h1 {
    font-family: Bernadette;
    font-size: 48px;
    color: #454341;
    line-height: 18px;
}

h2 {
    font-size: 16px;
    font-family: 'Muli-Bold';
    color: #474747;
}

.fruit_definition {
    margin-top: -36px;
    margin-left: -366px;
    max-width: 430px;
    line-height: 34px;
}

.fruit_definition p {
    font-family: 'Muli-Regular';
    line-height: 34px;
}

.fruit-facts {
    margin-left: 29px;
    margin-top: 87px;
}

.health_benefits {
    max-width: 273px;
    margin-bottom: -13px;
}

.health_benefits p {
    line-height: 24px;
    font-family: Muli-Regular;
    font-size: 12px;
}

.nutrion_values li {
    list-style: none;
    font-size: 12px;
    font-family: Muli-Regular;
}

.straight-line {
    margin-bottom: -126px;
    margin-left: -235px;
}

.l-line {
    margin-bottom: -193px;
    margin-left: -154px;
}

 .center-image {
    margin-left: 61px;
}

@font-face {
    font-family: Bernadette;
    src:url(fontfamily/bernadette.ttf);
}

@font-face {
    font-family: Muli-Regular;
    src:url(fontfamily/muli.regular.ttf);
}

@font-face {
    font-family: Muli-Bold;
    src:url(fontfamily/Muli-Bold.ttf);
}
