
.container {
    margin: 0 auto;
    max-width: 1325px;    
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.input-search {  
     border: 3px solid #f8f8f8;
     border-radius: 20px;
     font-family: Muli-Regular;
     color: #595959;
     font-size: 16px;
     background: url(images/shape.png);
     background-repeat: no-repeat;
     background-position: center left 10px;
     padding-left: 40px;
     height: 40px;
     width: 379px;
     outline: none;
}


nav {
    transform: rotate(-90deg) translate(-19px, -226px);
}

ul {
  display:flex;
  list-style: none;
}

 a {
    text-decoration: none;
    color: #595959;
    margin-right: 20px;
}

.active {
    text-decoration: none;
    color: #FF0000;
}

 .navbar li {
    margin: 0px 28px;
    font-family: muli-bold;
} 


.content {
    display: flex;
    align-items: center;
}

h1 {
    font-family: bernadette;
    font-size: 48px;
    color: #454341;
    line-height: 18px;
}

h2 {
    font-size: 16px;
    font-family: muli-bold;
    color: #474747;
}

.fruit-definition {
    margin-top: -36px;
    margin-left: -366px;
    max-width: 430px;
    line-height: 34px;
}

.fruit-definition p {
    font-family: muli-regular;
    line-height: 34px;
}

.fruit-facts {
    margin-left: 29px;
    margin-top: 87px;
}

.health-benefits {
    max-width: 273px;
    margin-bottom: -13px;
}

.health-benefits p {
    line-height: 24px;
    font-family: muli-regular;
    font-size: 12px;
}

.nutrion-values {
    line-height: 25px;
}

.nutrion-values li {
    list-style: none;
    font-size: 12px;
    font-family: muli-regular;
}

.health-benefit-line {
    margin-bottom: -126px;
    margin-left: -235px;
}

.nutrion-value-line {
    margin-bottom: -193px;
    margin-left: -154px;
}

 .fruit-image {
    margin-left: 61px;
}


.socialmedia-icons {
    margin-top: 29px;
    margin-left: -57px;
    max-width: 135px;
    position: absolute;
}

.image-slider {
    display: flex;
    align-items: center;
    margin-left: 437px;
    margin-top: 73px;
    max-width: 521px;
}

.left-fruit {
    background-color: #FA6400;
    border-radius: 7.87px 64px 7.87px 64px;
    width: 125.43px;
    height: 124.12px;
    margin-right: 15px;
    border: 0.79px solid #979797;
}

.left-image {
        margin-top: -48px;
}

.left-fruit p {
    margin: auto;
    margin-left: 40px;
    font-family: 'muli-regular';
    color: #454341;
    font-size: 12.59px;
}

.center-fruit {
    background-color: #FA6400;
    border-radius: 13.07px 107px 13.07px 107px;
    width: 209.05px;
    height: 207px;
    margin: 0 10px;
    border: 1.31px solid #979797;
}

.main-fruit {
    margin: auto;
    display: flex;
    margin-top: -56px;
}

.center-fruit p {
    margin-left: 36px;
    margin-top: 10px;
    font-family: 'muli-bold';
    color: #454341;
    font-size: 26.13px;
}

.right-fruit {
    background-color: #FA6400;
    border-radius: 7.87px 64px 7.87px 64px;
    width: 125.43px;
    height: 124.12px;
    margin-left: 15px;
}

.right-image {
    margin-top: -34px;
}

.right-fruit p {
    margin: auto;
    font-family: 'muli-regular';
    color: #454341;
    font-size: 12.59px;
    margin-left: 24px;
}

@font-face {
    font-family: bernadette;
    src:url(fonts/bernadette.ttf);
}

@font-face {
    font-family: muli-regular;
    src:url(fonts/muli.regular.ttf);
}

@font-face {
    font-family: muli-bold;
    src:url(fonts/muli-bold.ttf);
}

 